.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}
.rectangle1453 {
  width: 751px;
  height: 501px;
  flex-shrink: 0;
  background-color: linear-gradient(
    90deg,
    #181818 0%,
    rgba(24, 24, 24, 0.6) 59.9%,
    rgba(24, 24, 24, 0) 100%
  );
  margin-left: 50px;
  margin-top: 50px;
}
.movie-name {
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: HK Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.time-certificate-year {
  display: flex;
  justify-content: space-around;
  color: var(--general-white, #fff);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: HK Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 200px;
}
.movie-details-container {
  background-image: linear-gradient(
      90deg,
      #181818 0%,
      rgba(24, 24, 24, 0.6) 59.9%,
      rgba(24, 24, 24, 0) 100%
    ),
    url('https://res.cloudinary.com/dtghbuzfj/image/upload/v1690436087/Image_2_fdbyj5.png');
  width: 100vw;
  height: 605px;
  flex-shrink: 0;
  background-size: cover;
}

.movie-summary {
  color: var(--general-white, #fff);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'HK Grotesk';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  width: 600px;
}
.play-button {
  display: flex;
  padding: 8px 24px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: var(--general-dark-blue, #171f46);
  font-family: HK Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  border-radius: 4px;
  background-color: #fff;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  color: rgba(23, 31, 70, 1);
  border: none;
  outline: none;
}
.empty-rectangle {
  color: white;
  width: 100vw;
  height: 162px;
  flex-shrink: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(24, 24, 24, 0.55) 35.23%,
    #181818 85.46%,
    #181818 90.86%,
    #181818 100%
  );
}
.movie-details-and-moreLike-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #181818;
}
.movie-details {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.Generes-Text {
  color: var(--light-blue-gray-400, #94a3b8);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: HK Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.genre-type {
  color: var(--general-white, #fff);
  font-family: 'HK Grotesk';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.moreLikeThis {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
}

.more-like-this-text {
  color: var(--general-white, #fff);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'HK Grotesk';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.image {
  width: 255px;
  height: 170px;
  flex-shrink: 0;
  border-radius: 8px;
  margin: 20px;
}
.movies-album {
  width: 100%;
}
