.counter-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button {
  height: 80px;
  width: 80px;
  font-size: 20px;
}
.counter-item {
  font-size: 30px;
  color: brown;
  margin: 20px;
}
