.Not-Found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/dtghbuzfj/image/upload/v1686373478/snow-removal-machine-working-high-ski-slope-snowstorm_454047-2149_1_vfjldw.png');
}
.LostYourWay {
  color: #fff;
  font-family: 'HK Grotesk';
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description {
  color: #fff;
  text-align: center;
  font-family: HK Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.button {
  display: flex;
  padding: 12px 24px;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  color: #171f46;
  font-family: HK Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border: none;
  border-radius: 8px;
}

.link {
  text-decoration: none;
}
