.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
  background-color: #181818;
}

.display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.description {
  color: #fff;
  text-align: center;
  font-family: HK Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.button {
  display: flex;
  padding: 12px 24px;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  color: #171f46;
  font-family: HK Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border: none;
  border-radius: 8px;
}
